<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
     <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
</head>
<body>

<header>Painel Administrativo</header>

<nav class="menu">
    <a href="/admin">🏠 Home</a>
    <a href="/criancas">👶 Crianças</a>
    <a href="/catequistas">👩 Catequistas</a>
    <a href="/turmas">📚 Turmas</a>
    <a href="/admins">🛡️ Admins</a>
    <a href="/relatorio">📊 Relatório</a>
    <a href="/deslogar">🚪 Sair</a>
</nav>

<div class="container">

    <div class="cards">

        <div class="card">
            <h2>{{ total_criancas }}</h2>
            <p>Crianças</p>
        </div>

        <div class="card">
            <h2>{{ total_catequistas }}</h2>
            <p>Catequistas</p>
        </div>

        <div class="card">
            <h2>{{ total_turmas }}</h2>
            <p>Turmas</p>
        </div>

    </div>

    <div class="card">

        <h2>📊 Ranking de Turmas</h2>

        <table>
            <tr>
                <th>Turma</th>
                <th>Quantidade</th>
            </tr>

            {% for turma in ranking_turmas %}
            <tr>
                <td>{{ turma[0] }}</td>
                <td>{{ turma[1] }}</td>
            </tr>
            {% endfor %}

        </table>

    </div>

</div>

</body>
</html>
