<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Catequistas</title>
<link rel="stylesheet" href="/static/style.css">
   <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
</head>

<body>

<header>Catequistas</header>

<nav class="menu">
<a href="/admin">🏠 Home</a>
<a href="/criancas">👶 Crianças</a>
<a href="/catequistas">👩 Catequistas</a>
<a href="/turmas">📚 Turmas</a>
<a href="/admins">🛡️ Admins</a>
<a href="/relatorio">📊 Relatório</a>
<a href="/deslogar">🚪 Sair</a>
</nav>

<div class="container">

<div class="card">
<h2>Cadastrar Catequista</h2>

<form action="/cadastrar_catequista" method="POST">

<input name="nome" placeholder="Nome">
<input name="email" placeholder="Email">
<input name="senha" placeholder="Senha">

<button>Salvar</button>
</form>
</div>

<div class="card">

<h2>Lista Catequistas</h2>

<table>
<tr>
<th>Nome</th>
<th>Email</th>
<th>Ações</th>
</tr>

{% for c in catequistas %}
<tr>
<td>{{c[1]}}</td>
<td>{{c[2]}}</td>
<td>

<a href="/editar_catequista/{{c[0]}}">✏️</a>
<a href="/excluir_catequista/{{c[0]}}" onclick="return confirm('Excluir?')">❌</a>

</td>
</tr>
{% endfor %}

</table>

</div>

</div>

</body>
</html>
