<!DOCTYPE html>
<html>
<head>
    <title>Editar Criança</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header>Editar Criança</header>

<div class="container">

    <form method="POST">

        <label>Nome:</label>
        <input type="text" name="nome" value="{{crianca[1]}}" required>

        <label>Turma:</label>
        <select name="turma_id">
            {% for t in turmas %}
            <option value="{{t[0]}}" {% if t[0] == crianca[2] %}selected{% endif %}>
                {{t[1]}}
            </option>
            {% endfor %}
        </select>

        <br><br>

        <button>Salvar</button>

    </form>

</div>

</body>
</html>