<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header>Sistema de Catequese</header>

<div class="container">
    <h2>Login</h2>

    <form action="/autenticar" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button>Entrar</button>
    </form>

</div>

</body>
</html>